/*
    GERAL ↴
*/


body {
    overflow-x: hidden;
}

button {
    background-color:  #333333 ;
    width: 194px;
    height: 40px;
    color: #FFF;
    border-radius: 15px;
}

/*
    ÁREA MENU ↴
*/

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    font-size: 19px;
}

nav ul a:hover {
    font-weight: bold;
}

.active {
    font-weight: bold;
}

.menu {
    width: 100vw;
    height: 80px;
    background-color: #FFFFFF;
    max-width: 1140px; 
    margin:  auto;
    padding-top: 20px;
}

.sectionUsuario {
    display: flex;
    align-items: center;
}

.bolsa {
    padding-right: -40px;
}

.lupa {
    margin-left: -60px;
}

.logo {
    margin: 0;
    font-weight: 200;
}

.pesquisa {
    height: 40px;
    width: 180px;
    padding: 15px;
    margin-left:100px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #F2F2F2;
    font-size: 14px;
    font-weight: 400;
}

/*
    ÁREA MARKETING FONE ↴
*/

.marketingFone{
    background: #F2F2F2;
    width: 100vw;
    height: 87vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.textosFoneModel {
    align-items: center;
    display: flex;
}

.textosFoneModel2 {
    padding-right: 8vw;
    padding-left: 10vw;
}

.textosFoneModel h1 {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 5px;
}

.textosFoneModel h2 {
    font-size: 36px;
    font-weight: 450;
}

.textosFoneModel P {
    font-size: 20px;
    padding-top: 10px;
    max-width: 600px;
}

.barraModelo {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 75vw;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
}

.negritoModelo {
    font-weight: 550;
    display: inline;
}

.airDots img {
    width: 400px;
    height: 400px;
}

.buttonModelo {
    margin-left: 50px;
}

.buttonModelo:hover {
    font-weight: bold;
}

/*
    ÁREA TENDÊNCIAS ↴
*/
