.banner {
  display: flex;
  justify-content: right;
  align-items: center;
  background-image: url("../image/template.webp");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}

.banner-texto {
  font-family: 'Montserrat';
  max-width: 40vw;
  flex-wrap: wrap;
}

.banner-titulo {
  font-size: 1.875rem;
  margin-bottom: 0.625rem;
  line-height: 2.1875rem;
  color: #333333;
}

.banner-titulo strong {
  font-weight: 700;
}

.banner-frase p {
  line-height: 1.5625rem;
  margin-bottom: 1.875rem;
  color: #333333;
}

.banner-button button {
  text-transform: uppercase;
  width: 11.25rem;
  height: 2.5rem;
  cursor: pointer;
}

.compre-agora {
  background-color: #F2F2F2;;
  text-transform: uppercase;
  margin-right: 1.875rem;
  color: #333333;
}

.compre-agora:hover {
  font-weight: 700;
}

.explorar:hover {
  font-weight: 700;
}

@media (min-width: 320px) and (max-width: 768px) {
  .banner-texto {
    max-width: 70vw;
  }

  .banner-titulo {
    font-size: 1.625rem;
  }

  .banner-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .compre-agora {
    margin: 0 0 1.25rem 0;
  }
}