body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.625rem;
}

body::-webkit-scrollbar-track {
  background: #FFF;
}

body::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 1.25rem;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}

.button, .explorar, .compre-agora {
  background-color:  #333333 ;
  width: 12.125rem;
  height: 2.5rem;
  color: #FFF;
  border-radius: 0.9375rem;
}

.container {
  margin: 2.5rem 0;
  padding: 1.25rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

a:hover, button:hover {
  transition: all ease 1s;
  font-weight: 700;
}