header {
  position: relative;
  background-color: #FFFFFF;
  z-index: 999;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul a {
  text-decoration: none;
  color: #000;
  font-size: 17px;
}

nav ul a:hover, .active {
  font-weight: bold;
}

nav li a {
  margin-left: 3vw;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1140px; 
  height: 80px;
  margin:  auto;
  position: relative;
}

.section-usuario {
  display: flex;
  align-items: center;
}

.pesquisar {
  display: flex;
  align-items: center;
}

.lupa {
  margin-left: -40px;
}

.bolsa {
  margin: 0 30px 0 30px;
}

.pesquisar input {
  height: 40px;
  width: 180px;
  padding: 15px;
  margin-left:100px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #F2F2F2;
  font-size: 14px;
  font-weight: 400;
}

.menu-icon img {
  display: none;
  margin-bottom: 3px;
  cursor: pointer;
}

.menu-burguer .pesquisar {
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  header {
    position: none;
  }

  .menu-burguer {
    display: none;
    padding: 30px 20px 20px 20px;
    background-color: #FFF;
    position: absolute;
    top: 80px;
    right: 0px;
  }
  
  .menu-burguer ul li, .menu-burguer .pesquisar {
    display: flex;
  }
  
  .menu-burguer .pesquisar input {
    width: 220px;
    margin: 0;
  }
  
  .menu-burguer .lupa {
    display: flex;
    margin-right: -10px;
  }
  
  .menu-burguer nav ul {
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
  }
  
  .menu-burguer nav li a {
    margin: 30px;
  }
  
  .menu-burguer nav ul a:hover {
    font-weight: bold;
  }

  .bolsa {
    margin:  0;
  }

  .usuario {
    margin: 0 15px 0 15px;
  }
  
  nav li {
    display: none;
  }

  .section-usuario input, .lupa {
    display: none;
  }

  .menu-icon img {
    display: flex;
  }
}