.marketing-fone {
  background: #F2F2F2;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 0;
}

.texto-marketing {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.container-texto h1 {
  font-family: 'Montserrat';
  font-size: 2.25rem;
  font-weight: 700;
  padding-bottom: 0.3125rem;
  color: #333333
}

.container-texto h2 {
  font-family: 'Montserrat';
  font-size: 2.25rem;
  font-weight: 500;
}

.container-texto p {
  font-family: 'Montserrat';
  font-size: 1.25rem;
  font-weight: 400;
  padding-top: 0.625rem;
  max-width: 37.5rem;
  color: #333333;
}

.barra-modelo {
  background-color: #FFFFFF;
  border-radius: 0.9375rem;
  padding: 0.625rem 1.875rem 0.625rem 1.875rem;
  width: 78vw;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.125rem;
  flex-wrap: wrap;
}

.modelo {
  display: flex;
  align-items: center;
}

.negrito-modelo {
  font-family: 'Barlow Condensed';
  font-size: 1.125rem;
  font-weight: 700;
  margin-right: 0.625rem;
  color: #333333;
  text-transform: uppercase;
}

.nome-modelo {
  font-family: 'Montserrat';
  font-size: 1.125rem;
  font-weight: 400;
  color: #333333;
}

.air-dots img {
  width: 25rem;
  height: 25rem;
  margin: 0 -6.875rem 0 5.625rem;
}

.comprar-agora button {
  margin-left: 3.125rem;
}

.comprar-agora button:hover {
  font-weight: bold;
}

@media (min-width: 320px) and (max-width: 768px) {
  .air-dots img {
    width: 18.75rem;
    height: 18.75rem;
    margin: 0;
  }

  .marketing-fone {
    padding: 7.5rem 1.5625rem 2.5rem 1.5625rem;
    height: 100%;
  }

  .texto-marketing {
    justify-content: center;
  }

  .container-texto h1 {
    font-size: 1.5rem;
  }

  .container-texto h2 {
    font-size: 1.3125rem;
  }

  .container-texto p {
    font-size: 1.1875rem;
  }

  .barra-modelo {
    background-color: transparent;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    flex-wrap: wrap;
  }

  .modelo {
    justify-content: center;
    align-items: center;
    padding: 0.625rem;
    margin: 0 0.625rem 0.625rem 0;
    background-color: #FFF;
    border-radius: 0.625rem;
    text-align: center;
  }

  .negrito-modelo {
    padding-right: 0.625rem;
    margin-right: 0;
  }

  .comprar-agora {
    padding: 0 0.4375rem 0 0.4375rem
  }

  .comprar-agora button {
    margin: 1.25rem 0.3125rem 0.625rem 0.3125rem;
  }
}