.marketing-fone {
  background: #F2F2F2;
  width: 100vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  top: 0;
  z-index: 1;
}

.texto-marketing {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.container-texto h1 {
  font-family: 'Montserrat';
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 5px;
  color: #333333
}

.container-texto h2 {
  font-family: 'Montserrat';
  font-size: 36px;
  font-weight: 500;
}

.container-texto p {
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 400;
  padding-top: 10px;
  max-width: 600px;
  color: #333333;
}

.barra-modelo {
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 10px 30px 10px 30px;
  width: 75vw;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  flex-wrap: wrap;
}

.modelo {
  display: flex;
  align-items: center;
}

.negrito-modelo {
  font-family: 'Barlow Condensed';
  font-size: 18px;
  font-weight: 700;
  margin-right: 10px;
  color: #333333;
  text-transform: uppercase;
}

.nome-modelo {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 400;
  color: #333333;
}

.air-dots img {
  width: 400px;
  height: 400px;
  margin: 0 -90px 0 90px;

}

.comprar-agora button {
  margin-left: 50px;
}

.comprar-agora button:hover {
  font-weight: bold;
}

@media (min-width: 320px) and (max-width: 767px) {
  .air-dots img {
    width: 300px;
    height: 300px;
    margin: 0;
  }

  .marketing-fone {
    top: auto;
    height: 80vh;
  }

  .texto-marketing {
    justify-content: center;
  }

  .container-texto h1 {
    font-size: 24px;
  }

  .container-texto h2 {
    font-size: 21px;
  }

  .container-texto p {
    font-size: 19px;
  }

  .barra-modelo {
    background-color: transparent;
    margin: 0;
    justify-content: center;
    width: auto;
    padding: 0;
    font-size: 15px;
    max-width: 90vw;
  }

  .marca-modelo, .modelo, .cor-modelo, .valor-modelo {
    display: block;
    padding: 10px;
    margin: 0 10px 10px 0;
    background-color: #FFFFFF;
    border-radius: 10px;
  }

  .comprar-agora button {
    margin: 10px 0 5px 0;
  }

  .negrito-modelo {
    margin-right: 10px;
  }
}