.tendencia {
  background-color: #FFF;
}

.tendencia-titulo h1 {
  padding: 20px 0 40px 0;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.tendencia-imagens {
  display: flex;
  justify-content: center;
}

.slider-img h1 {
  font-family: 'Barlow';
  font-size: 15.5px;
  font-weight: 400;
  margin: 10px 0 20px 10px;
  color: #828282;
}

.slider-img p {
  font-family: 'Barlow Condensed';
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  margin:  0 0 0 10px;
}

.slider-img img {
  border-radius: 15px;
}

.modelo-produto p {
  margin-bottom: 18px;
}

.slider {
  overflow: hidden;
  align-items: center;
  width: 57vw;
}

.slider-width {
  display: flex;
  height: 100%;
  transition: all ease 0.3s;
}

.slider-img {
  display: flex;
  width: 19vw;
  justify-content: center;
  align-items: center;
}

.slider-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.slider-control {
  display: flex;
  margin-top: -110px;
}

.seta-direita {
  margin-right: 60vw;
  cursor: pointer;
}

.seta-esquerda {
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 767px) {
  .slider-img {
    width: 100vw;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slider-width, .slider {
    width: auto;
  }

  .preco-produto {
    margin-bottom: 20px;
  }

  .seta-direita {
    margin-right: 75vw;
  }
}



