.tendencia {
  background-color: #FFF;
}

.tendencia-titulo h1 {
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.tendencia-imagens {
  display: flex;
  justify-content: center;
}

.slider-img h1 {
  font-family: 'Barlow';
  font-size: 0.9688rem;
  font-weight: 400;
  margin: 0.625rem 0 1.25rem 0.625rem;
  color: #828282;
}

.slider-img p {
  font-family: 'Barlow Condensed';
  font-size: 1.125rem;
  font-weight: 400;
  color: #333333;
  margin:  0 0 0 0.625rem;
}

.slider-img img {
  border-radius: 0.9375rem;
}

.modelo-produto p {
  margin-bottom: 1.125rem;
}

.slider {
  overflow: hidden;
  align-items: center;
  width: 59vw;
}

.slider-width {
  display: flex;
  height: 100%;
  transition: all ease 0.3s;
}

.slider-img {
  display: flex;
  min-width: 19.7vw;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.slider-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.slider-control {
  display: flex;
  margin: -6.875rem -2.5rem 0 -2.5rem;
}

.seta-direita, .seta-esquerda {
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 768px) {
  .slider-img {
    width: 100vw;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slider-width, .slider {
    width: auto;
  }

  .preco-produto {
    margin-bottom: 1.25rem;
  }

  .slider-control {
    margin: -8.125rem 0 0 0;
  }
}


